@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700&display=swap');

:root {
  --clr-magenta-900: hsl(300, 43%, 22%);
  --clr-accent: hsl(333, 80%, 67%);

  --clr-magenta-400: hsl(303, 10%, 53%);
  --clr-magenta-100: hsl(300, 24%, 96%);
  --clr-white: hsl(0, 0%, 100%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 14px;
  font-family: 'Spartan', sans-serif;
  font-weight: 400;
  line-height: 1.6;
}

h1 {
  line-height: 1;
}

ul {
  list-style: none;
}

img {
  display: block;
  width: 100%;
}
/* UTILITIES */
.grid {
  display: grid;
  place-items: center;
}

.grid-2 {
  grid-template-columns: repeat(2, 1fr);
}

.grid-3 {
  grid-template-columns: repeat(3, 1fr);
}

.text-primary {
  color: var(--clr-magenta-900);
}

.text-secondary {
  color: var(--clr-magenta-400);
}

.text-neutral {
  color: var(--clr-magenta-100);
}

.text-accent {
  color: var(--clr-accent);
}

.text-lg {
  font-size: 3rem;
}

.fw-400 {
  font-weight: 400;
}

.fw-500 {
  font-weight: 500;
}

.fw-700 {
  font-weight: 700;
}

.bg-dark {
  background-color: var(--clr-magenta-900);
}

.bg-light {
  background-color: var(--clr-magenta-400);
}

/* PAGE */
.container {
  overflow: hidden;
  min-height: 100vh;
  background-color: var(--clr-white);
  max-width: 1200px;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.stats {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.stats__text {
  padding-right: 10rem;
}

.stats__text > p {
  margin-top: 1em;
}

.stats__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-top: 1rem;
}

.stats__info > *:first-child {
  align-self: flex-start;
}

.stats__info > *:last-child {
  align-self: flex-end;
}

.stats__item {
  width: 80%;
  background-color: var(--clr-magenta-100);
  padding: 1em 0 1em 2em;
  border-radius: 5px;
}

.stars {
    display: flex;
}

.stars > p {
    margin-left: 2rem;
}

.icon {
    background-image: url('images/icon-star.svg');
    width: 16px;
    height: 16px;
    margin: 0 5px;
}

.reviews {
  gap: 2rem;
  height: 280px;
  margin-top: 4rem;
}

.reviews > *:first-child {
  align-self: flex-start;
}

.reviews > *:last-child {
  align-self: flex-end;
}

.card {
  border-radius: 0.5rem;
  background-color: var(--clr-magenta-900);
  padding: 2.5rem 1.5rem;
}

.card__info {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}

.card__avatar {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 2rem;
}

